.list-unstyled {
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    }
  }

footer .container{
  display: flex;
  justify-content: space-evenly;
}

footer{
  background-color: #231f20;
  font-family: $montserrat;
}

@media (max-width: 768px){
  .stickyfooter{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
  }
}