.main-bg {
    background: #54243791;
    background-position: center;
    width: 95%;
    max-width: 1600px;
    margin: 1.6em auto;
    border-radius: 30px;
  }
  .main-services{
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    background-color: rgba(84, 36, 55, 0.569);
  }

  .main-products{
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
  }
  
  .main-contact{
    width: 90%;
    max-width: 1600px;
    margin: 1.6em auto;
    padding: 10px;
    background-color:  rgba(84, 36, 55, 0.569);
    border-radius: 15px;
  }