.card {
    border: none;
    border-radius: 15px;
    background-color: #ed357fd9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.533);
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.79);
    }
  
    .card-img-top {
      border-radius: 15px;
    }
  
    .card-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    .card-text {
      margin-bottom: 1rem;
    }
  
    .btn {
      border-radius: 0;
    }
  }